# fly.toml app configuration file generated for wishes on 2025-12-17T14:02:22-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wishes'
primary_region = 'sjc'

[env]
  DB_PATH = "/data/wishes.db"

[mounts]
  source = "wishes_data"
  destination = "/data"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
